<ion-view title="Jualan ke 1010">
<ion-nav-buttons side="left">
</ion-nav-buttons>
<ion-content class="has-header has-bottom">
   <!--  <ion-list>
      <ion-item ng-repeat="lapak in listLapak" href="#/app/dagangan/{{lapak.id}}">
        {{lapak.title}}
      </ion-item>
  </ion-list> -->
    <ion-list>
      <ion-item ng-repeat="item in sales " type="item-text-wrap" >
      <div class="button-bar">
      <button class="button">
        {{ item.qty }}
      </button>
      <button class="button">
        {{ item.title }}
      </button>
      <button class="button">
        {{ item.jual }}
      </button>
      </div>
      </ion-item>
    </ion-list>

</ion-content>
<div class="fixed-outside">
	<div class="padding">
		<button ng-click="cek_keranjang()" class="button button-block button-positive">
			Jual
		</button>
	</div>
</div>
</ion-view>