<ion-view title="{{ detail_lapak.nama_lapak }}">
<ion-nav-buttons side="left">
</ion-nav-buttons>
<ion-content class="has-header has-bottom">
   <!--  <ion-list>
      <ion-item ng-repeat="lapak in listLapak" href="#/app/dagangan/{{lapak.id}}">
        {{lapak.title}}
      </ion-item>
  </ion-list> -->

  <div class="row" ng-repeat="dagangan in list_dagangan track by $index" ng-if="$index%2==0">
  	<div class="col col-50" ng-repeat="i in [$index,$index+1]" ng-if="list_dagangan[i]!=null">
  		<div ng-click="add_barang(list_dagangan[i])" class="card">
  			<div class="item item-divider text-center">
  				{{list_dagangan[i].stock}}
  			</div>
  			<div class="item item-text-wrap text-center">
  				{{list_dagangan[i].title}}
  			</div>
  			<div class="item item-divider text-center">
  				{{list_dagangan[i].jual}}
  			</div>
  		</div>
  	</div>
  </div>

</ion-content>
<div class="fixed-outside">
	<div class="padding">
		<button ng-click="cek_keranjang()" class="button button-block button-positive">
			Jual
		</button>
	</div>
</div>
</ion-view>
