<ion-content class="padding has-image">
<form ng-submit="login()" class="padding">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" ng-model="loginData.username">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="loginData.password">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit">Log in</button>
      <button class="button button-block button-positive">Sign Up</button>
    </label>
  </div>
</form>
</ion-content>
