<ion-view title="Usaha">
<ion-nav-buttons side="left">

</ion-nav-buttons>
<ion-content class="padding has-header has-image">
<form ng-submit="register_usaha()" class="padding">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Nama Usaha</span>
      <input type="text" ng-model="usaha.nama">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit">OK</button>
    </label>
  </div>
</form>
</ion-content>
</ion-view>


