<ion-view title="Nomor Telepon">
 <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
<ion-content class="padding has-header has-image">
<form ng-submit="telepon()" class="padding">
  <div class="list">
    <label class="item item-input">
    <span class="input-label">Nomor Telepon</span>
      <input type="text" ng-model="no_telepon.nomor">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit">OK</button>
    </label>
  </div>
</form>
</ion-content>
</ion-view>


