<ion-view title="{{ detailLapak.nama_usaha }}">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">
   <!--  <ion-list>
      <ion-item ng-repeat="lapak in listLapak" href="#/app/dagangan/{{lapak.id}}">
        {{lapak.title}}
      </ion-item>
    </ion-list> -->

    <div class="row" ng-repeat="lapak in listLapak track by $index" ng-if="$index%2==0">
      <div class="col col-50" ng-repeat="i in [$index,$index+1]" ng-if="listLapak[i]!=null">
        <a href="#/app/lapak/{{listLapak[i].id}}">
          <div class="card">
            <div class="item item-divider">
              {{listLapak[i].title}}
            </div>
            <div class="item item-text-wrap">
              This is a basic Card with some text.
            </div>
            <div class="item item-divider">
              I'm a Footer in a Card!
            </div>
          </div>
        </a>
      </div>

    </ion-content>
  </ion-view>
