/* Empty. Add your own CSS if you like */
.fixed-outside{
	position: absolute;
	bottom: 0;
	color:white;
	width: 100%;
	height: 5em;
	text-align:center;
}

.has-bottom{
	bottom:60px !important;
}
.has-image{
	background-image: url('../img/asset/backgroundimage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.has-image form{
	margin-top: 50%;
}
